.A {
    font-size: 36px !important;
    color: #f1f1f1 !important;
    font-family: "Segoe UI";
    font-weight: 400;
    margin: 10px 0;
  }

  .B {
    font-size: 36px !important;
    color: #757575 !important;
    font-family: "Segoe UI";
    font-weight: 400;
    margin: 10px 0;
  }

  .C {
    font-size: 64px !important;
    color: Black;
    font-family: "Segoe UI";
    font-weight: 400;
    margin: 10px 0;
  }


  .D {
    font-family: Verdana;
    color: grey;
  }

  .E {
    margin-left: 8%;
    font-family: "Segoe UI";
    font-weight: 400;
    color: #757575 !important;
    font-size: 20px;
  }


  .column00 {
    margin: 10px;
    font-size: 15px;
    line-height: 1.5;
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  .column01 {
    margin: 10px;
    font-size: 15px;
    line-height: 1.5;
    float: left;
    width: 33.33%;
    padding: 5px;
  }


  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .column1 {

    float: left;
    width: 33.33%;
    padding: 5px;
  }

  .row1 {
    margin-left: 8%;
    font-family: Segoe UI;
  }


  .row1::after {
    content: "";
    clear: both;
    display: table;
  }

  .F {
    color: #757575 !important;
    font-size: 24px !important;
    font-family: Verdana;

  }

  .footer::after {
    content: "";
    clear: both;
    display: table;
  }

  .T1 {
    background-color: black;
    float: left;
    width: 25%;
    padding: 8px;
    font-family: Verdana;
    color: white;
    font-size: 18px !important;

  }

  .T2 {

    background-color: #616161 !important;
    float: left;
    width: 25%;
    padding: 8px;

    color: white;
    text-align: center !important;
    font-size: 18px !important;
    font-family: Verdana;
  }

  .T3 {
    background-color: #9e9e9e !important;
    float: left;
    width: 25%;
    padding: 8px;

    color: white;
    text-align: center !important;
    font-size: 18px !important;
    font-family: Verdana;
  }

  .panel {
    margin-left: 8%;

  }

  .new {
    color: #757575 !important;
    font-size: 24px !important;
    font-family: Verdana;
  }

  h2 {
    font-size: 30px;
    font-family: "Segoe UI";
    font-weight: 400;
    margin: 10px 0;
  }